@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/roboto.woff2') format('woff2'),
        url('../fonts/web/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;

  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 900px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.content-wrapper {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}
.slider {
  position: relative;
  padding-top: 270px;
  margin-bottom: 39px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
}

.red {
  display: inline-block;

  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}


.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover,
.red:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active,
.red:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.stock-berries-title,
.stock-chocolate-title {
  font-size: 35px;
  line-height: 41px;
  padding: 20px 0 20px 20px;
  margin: 0;
}
.stock-chocolate-paragraph,
.stock-berries-paragraph {
  padding: 0 0 20px 20px;
  margin: 0;
  font-weight: bold;
}

.submenu,
.search-form,
.enter-form {
  display: none;
}

.link {
  text-decoration: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-header {
  display: flex;

}
.logo {
  margin: 0;
  padding: 10px 0;
}
.main-nav {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
.main-nav,
.control {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.navigation-site {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
  padding: 0;
}
.control-wrapper {
  display: flex;
  margin: 0;
  flex-direction: column;
}



.control {
  width: 261px;
  margin-top: 22px;
  padding: 0;
}
.navigation-user {
  height: 33px;
 display: flex;
 justify-content: space-between;
 margin: 0;
 padding: 0;
}
.search-ul {
  display: flex;
  min-width: 33px;
}
.search-ul .search {
  position: relative;
  background: rgba(165, 186, 174, 0.9)

}
.icon-loupe {
  position: relative;
  fill: #fff;
}
.icon-entrance {
  position: absolute;
  fill: #fff;
}
.icon-loupe:hover,
.icon-entrance:hover {
  fill: #000;
}
.search:hover,
.enter:hover {
  background-color: #fff;
}
.enter-ul {
  display: flex;
  max-width: 95px;
}
.enter-ul .enter {
  position: relative;
  padding-left: 45px;
  text-decoration: none;
  background: rgba(165, 186, 174, 0.7)
}
.icon-entrance {
  left: 15px;
}
.basket-ul {
  display: flex;
  max-width: 120px;
}
.basket-ul .basket {
  position: relative;
  padding-left: 45px;
  text-decoration: none;
  background: rgba(165, 186, 174, 0.7)
}
.basket::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 17px;
  width: 24px;
  height: 22px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.navigation-site,
.navigation-user,
.submenu {
  list-style: none;
}

.basket-ul,
.search-ul,
.enter-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-site a,
.navigation-user a {
  color: #ffffff;
  display: block;
  border-radius: 25px;
  padding: 9px 14px;
}

.navigation-site a:hover,
.navigation-site a:active {
  color: #000000;
  background-color: #F7F6F3;
}

.navigation-user input {
  border: 2px solid #D4D4D3
}
.navigation-user input:hover{
  border-color: #C9C7C6;
}
.navigation-user input:focus{
  border-color: #77BEEE;
}
.main-work-time {
  align-self: flex-end;
  width: 159px;
}
.main-work-time p {
  margin: 0;
  padding: 19px 0 8px 11px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

}
.main-work-time a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.inner-stock {
  display: flex;
   margin-bottom: 40px;
   justify-content: space-between;
   color: #ffffff;
}
.inner-stock p {
  font-size: 18px;
  line-height: 22px;
}
.inner-stock a {
  font-size: 18px;
  line-height: 24px;
}
.stock-berries {
  width: 420px;
  margin: 0;
}
.stock-chocolate {
  width: 420px;
}
.stock-berries {
  background-image: url(../img/berries.jpg);
  background-repeat: no-repeat;
  border-radius: 13px;

}
.stock-chocolate {
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  border-radius: 13px;
}
.berris-link {

  margin: 0 0 21px 235px;
  padding: 10px 21px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.chocolate-link {
  margin: 0 0 21px 210px;
  padding: 10px 21px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.catalog-popular {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:  0;
  padding: 0;
}
.catalog-popular-list {
  position: relative;
}
.catalog-item {
  position: relative;
  width: 200px;
  height: auto;
  margin-bottom: 34px;
  z-index: 1;
}
.catalog-hit {
  position: absolute;
}
.catalog-item-image {
  margin-bottom: 13px;
}
.catalog-item-price {
  position: absolute;
  top: 153px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  height: 31px;
}
.catalog-item-value {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
}
.catalog-item-kg {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 4px;
}
.catalog-category {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
}
.catalog-popular a {
  color: #ffffff;
}
.catalog-popular a:hover,
.catalog-popular a:active {
  color: #FFBD9E;
}
.catalog-item-wrapper {
  position: absolute;
  z-index: 2;
  left: -10px;
  top: -10px;
  display: none;

}
.catalog-popular-list:hover .catalog-item-wrapper{
  display: block;
}
.catalog-item-hover {
  position: relative;
  background-color: #B6CABF;
  width: 220px;
  height: 362px;
  opacity: 0.3;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
.catalog-item-btn {
  position: absolute;
  width: 194px;
  height: 45px;
  left: 13px;
  top: 301px;
}

.feature {
  background-image: url(../img/waffle.jpg);
  color: #323232;
  margin: 40px 0;
  border-radius: 13px;
}
.feature-title {
  font-size: 24px;
  line-height: 30px;
  padding: 23px 20px;
  margin: 0;
}

.feature-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  padding: 0;
  justify-content: space-between;
}

.feature-flex .feature-flex-elements {
  width: 400px;
  position: relative;
}
.ice-cream::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 204px;
  height: 204px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }
  .cow::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 204px;
  height: 204px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }
  .eco::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 204px;
  height: 204px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }
  .thermometer::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 204px;
  height: 204px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }
.feature-flex-elements p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-left: 55px;
}
.inner-new {
  width: 420px;
  height: 222px;
  margin: 0;
  color: #000000;
  font-weight: bold;
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
}
.inner-new p {
  font-size: 16px;
  line-height: 22px;
  color: #616161;
  margin: 18px 0 12px 20px;
  padding: 0;
}
.inner-new a {
  display: inline-block;
  color: #000000;
  margin-left: 20px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  width: 292px;
}
.inner-new a:hover,
.inner-new a:active {
  color: #FFBD9E;
}


.inner-wrapper {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}
.inner-form {
  width: 420px;
  height: 222px;
  background-image: url(../img/substate.png),
                    url(../img/post-background.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #5D5D5C;
  border-radius: 15px;
}
.inner-form-paragraph {
  padding: 0;
  margin: 30px 0 17px 28px;
  font-size: 16px;
  line-height: 22px;
}
.inner-form input {
  font: inherit;
  border: 1px solid #D4D4D3
}
.inner-form input:hover {
  border-color: #C9C7C6;
}
.inner-form input:focus {
  border-color: #77BEEE;
}
.subscribe {
  margin-left: 28px;
}
.email {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  width: 230px;
  height: 43px;
  border-radius: 5px;
}
.subscribe-btn {
  width: 130px;
  height: 45px;
}
.contacts-map {
  background-image: url(../img/pin.svg),
                    url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 190px 135px, 0 -215px;
  height: 430px;
  width: 900px;
  border-top: 1px solid #849D8F;
  margin: 25px 0 25px -20px;


}

.address {
  color:#000000;
  background-color: #ffffff;
  width: 303px;
  height: 306px;
  border-radius: 15px;
  margin-left: 578px;
  margin-top: 63px;
}
.address-paragraph {
  margin: 35px 0 16px 25px;
  padding-top: 35px;
  font-size: 14px;
  line-height: 20px;
}
.address b {
  font-size: 18px;
  line-height: 24px;
}
.address-btn {
  width: 253px;
  height: 45px;
  margin-left: 25px;
  font-size: 18px;
  line-height: 24px;

}
.main-footer {
  display: flex;
}
.main-footer ul {
  list-style: none;
}
.main-footer a {
  color: #ffffff;
}
.main-footer a:hover,
.main-footer a:active {
  color: #FFBD9E;
}
.info {
  position: relative;
}
.info-heart {
  position: absolute;
  left: 74px;
  top: 0;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 0 95px;
}
.footer-item-doc {
  width: 162px;
}
.info li {
  font-size: 13px;
  line-height: 18px;
}
.social-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 185px;
  height: 82px;
  margin: 0;
  padding: 0;
}
.social-button:hover path{
  fill: #FFFFFF;
}
.social-button:focus path{
  fill: #E6EBE9;
}
.footer-item {
font-weight: bold;
}

.footer-copyright {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 72px;
  margin: 0 0 0 85px;
}
.footer-copyright-item {
  position: relative;
  top: -11px;
  font-size: 12px;
  line-height: 18px;
}
hr {
  margin: 0 0 35px 0;

}
.main-work-time {
  font-weight: bold;
}
.main-work-time a{
  text-decoration: none;
}



.modal-feedback {
  width: 478px;
  height: 442px;
  color: #000000;
  background-color: #F8F7F4;
  border-radius: 15px;

}
.modal-feedback h2 {
  font-size: 24px;
  line-height: 28px;
}
.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
  border: 2px solid #D4D4D3;
}
.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border-color: #C9C7C6;
}
.modal-feedback input:focus,
.modal-feedback textarea:focus {
  border-color: #77BEEE;
}

.navigation-site-activ {
  background-color: #D07058;
}
.basket-item {
  color: #ffffff; /* Разобраться со шрифтом, в статике должен быть черным */
  background-color: #F7F6F3;
  width: 104px;
}

.breadcrumbs {
  list-style: none;
}
.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs a {
  color: #ffffff;
}
.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #FFBD9E;
}


.sorting label,
.price label,
.radio p,
.checkbox-wrapper p {
  font-size: 14px;
  line-height: 16px;
}
.sorting input {
  background-color: #A9B9AF;
}
.sorting input:hover {
  background-color: #FFFFFF;
}

.radio:hover {
  color: #FFFFFF;
}

.checkbox-wrapper li {
  list-style: none;
}

.pagination-list-wrapper {
  width: 860px;
  display: flex;
  justify-content: flex-end;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 48px 20px 30px 0;
  padding: 0;
  height: 30px;
  width: 190px;
  justify-content: space-between;
}
.pagination-list li {
  list-style: none;

}
.pagination-list a {
  color: #FFFFFF;
}
.pagination-list a:hover,
.pagination-list a:active {
  color: #FFBD9E;
}



/* ------разметка каталог-----*/

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  margin: 0;
  padding: 0;
}
.subtitle {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
}

.filters-top {
  display: flex;
  justify-content: space-between;
}
.sorting {
  width: 200px;
  margin: 0;
}
.price {
  width: 220px;
}
.radio {
  width: 420px;
  margin-right: 20px;
}

.label-checkbox {
  display: block;
  padding: 10px;
}

.input-checkbox {
  display: none;
}

.input-checkbox:checked + .checkbox:before {
  
}

.input-checkbox:checked + .checkbox:after {
  display: block;
}

.checkbox {
  position: relative;
  padding-left: 25px;
}

.checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 0px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  
}


.checkbox:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filters-bottom {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-top: 15px;
}
.filters {
  margin: 0;
  padding: 0;
}
.checkbox-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.checkbox-wrapper {
  width: 702px;
  margin: 0;
}
.filters-botton {
  width: 145px;
  height: 38px;
  margin-right: 20px;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}