@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/roboto.woff2') format('woff2'),
  url('../fonts/web/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/robotobold.woff2') format('woff2'),
  url('../fonts/web/robotobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;

  background-color: #849d8f;
}

body>input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;
  padding-top: 270px;
  margin-bottom: 39px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 30px auto 34px auto;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.red {
  display: inline-block;

  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}


.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover,
.red:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active,
.red:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: #B2C1B7;
}


#btn-1:checked~.site-wrapper #slide1,
#btn-2:checked~.site-wrapper #slide2,
#btn-3:checked~.site-wrapper #slide3 {
  display: block;
}

#btn-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked~.site-wrapper label[for="btn-1"],
#btn-2:checked~.site-wrapper label[for="btn-2"],
#btn-3:checked~.site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.stock-berries-title,
.stock-chocolate-title {
  font-size: 35px;
  line-height: 41px;
  padding: 17px 0 15px 20px;
  margin: 0;
}

.stock-chocolate-paragraph,
.stock-berries-paragraph {
  padding: 0 0 20px 20px;
  margin: 0;
  font-weight: bold;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-header {
  display: flex;
  position: relative;
}

.main-header-logo {
  display: block;
}

.logo {
  margin-right: 10px;
  padding: 10px 0;
}

.main-nav {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.main-nav,
.control {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.navigation-site {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
  padding: 0;
}


.control-wrapper {
  display: flex;
  margin: 0;
  flex-direction: column;
}



.control {
  min-width: 263px;
  margin-top: 22px;
  padding: 0;
}

.navigation-user {
  height: 33px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.search-form {
  position: absolute;
  top: 36px;
  left: -310px;
  background-color: #F8F7F4;
  width: 342px;
  height: 86px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.search-icon {
  height: 44px;
  width: 312px;
  border-radius: 5px;
  border: 1px #D3D3D2 solid;
  margin: 21px 16px;
  padding-left: 15px;
}

.search-ul {
  position: relative;
  display: flex;
  min-width: 33px;
}

.icon-loupe {
  position: relative;
  fill: #fff;
}

.icon-entrance {
  position: absolute;
  fill: #fff;
  top: 7px;
}

.enter-ul {
  position: relative;
  display: flex;
  width: 92px;
  font-size: 14px;
  line-height: 16px;
  z-index: 10;
}

.enter-ul .enter {
  position: relative;
  padding-left: 45px;
  text-decoration: none;
  background: rgba(165, 186, 174, 0.7)
}

.enter-form {
  position: absolute;
  top: 36px;
  left: -183px;
  width: 278px;
  height: 215px;
  background-color: #F8F7F4;
  border-radius: 5px;
}

.enter-form p {
  margin: 0;
}

.enter-form input {
  display: block;
  width: 225px;
  height: 43px;
  margin: 20px 19px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
}

.enter-form a {
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.enter-wrapper-link {
  display: flex;
  flex-direction: column;
  width: 120px;
  margin: 0;
}

.button-enter-form {
  border: #EC573B;
  width: 101px;
  height: 45px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 19px;
  float: left;
}

.enter:hover {
  background-color: #fff;
}

.search:hover .icon-loupe,
.enter:hover .icon-entrance,
.enter:hover .icon-enter {
  fill: #000;
  color: #000;
}

.icon-enter {
  padding: 0 4px 0 1px;
}

.icon-entrance {
  left: 18px;
}

.basket-ul {
  display: flex;
  min-width: 119px;
}

.basket-ul .basket {
  position: relative;
  padding: 9px 23px 0 45px;
  text-decoration: none;
  background: rgba(165, 186, 174, 0.7)
}

.basket-svg {
  position: absolute;
  left: 15px;
  bottom: 6px;
  fill: #fff;
}

.navigation-site,
.navigation-user,
.submenu {
  list-style: none;
}

.basket-ul,
.search-ul,
.enter-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  color: #ffffff;
  display: block;
  border-radius: 25px;
  padding: 9px 14px;
  text-decoration: none;
}

.navigation-site>li {
  position: relative;
  height: 28px;
}

.navigation-user .order {
  position: absolute;
  left: -442px;
  top: 36px;
  z-index: 40;
  margin-top: 4px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.basket-table {
  width: 543px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  border-collapse: collapse;
}

.basket-table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.basket-table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.column-1 {
  width: 28px;
}

.basket-table td {
  padding: 0 0 16px;
  white-space: pre-line;
  display: table-cell;
  vertical-align: inherit;
}

.basket-table-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 10px 350px;
  padding: 15px 20px;
}

.cart-item-delete {
  position: relative;
  left: 10px;
  width: 11px;
  height: 11px;
  margin-bottom: 8px;
  margin-left: 1px;
  font-size: 0;
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.column-2 {
  width: 45px;
}

.basket-table img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  border-style: none;
}

.column-3 {
  width: 227px;
  padding-right: 20px;
}

.column-4 {
  width: 123px;
}

.item-kg {
  color: #999;
}

.column-5 {
  width: 67px;
}


.submenu {
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
}


.submenu a {
  display: block;
  margin-bottom: -1px;
  padding: 8px 14px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

.submenu-news {
  font-weight: bold;
}

.submenu-hr {
  margin: 0 auto;
  width: 128px;
  opacity: 0.3;
  display: block;
}

.submenu a:hover {
  background-color: #FBDED7;
}

.submenu a:active {
  background-color: #F6B5A5;
}

.navigation-site .submenu {
  position: absolute;
  display: none;
  top: 41px;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 10;
  border-radius: 5px;
  width: 142px;
}

.submenu-activ {
  background-color: #EB7156;
}

.navigation-site>li:hover .submenu {
  display: block;
}

.search-ul .search {
  padding: 9px 8px;
  position: relative;
  background: rgba(165, 186, 174, 0.9)
}

.search:hover {
  background-color: #fff;
}

.navigation-link:hover {
  color: #000000;
  background-color: #F7F6F3;
}

.navigation-link:active {
  box-shadow: inset 0 1px 4px #000;
}

.navigation-link:hover .basket-svg {
  fill: #000;
}

.navigation-user input {
  border: 2px solid #D4D4D3
}

.navigation-user input:hover {
  border-color: #C9C7C6;
}

.navigation-user input:focus {
  border-color: #77BEEE;
}

.basket-ul {
  position: relative;
  font-size: 14px;
  line-height: 16px;
}

.basket-ul .basket-catalog {
  position: relative;
  color: #000;
  font-weight: bold;
  padding: 9px 15px 0 45px;
  text-decoration: none;
  background: rgba(165, 186, 174, 0.7)
}

.basket-ul .basket-catalog:hover {
  background-color: #fff;
}

.basket-catalog::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  width: 24px;
  height: 22px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-work-time {
  align-self: flex-end;
  width: 167px;
  position: absolute;
  top: 52px;
}

.main-work-time p {
  margin: 0;
  padding: 21px 0 3px 11px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: right;
}

.main-work-time a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.inner-stock {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  color: #ffffff;
}

.inner-stock p {
  font-size: 18px;
  line-height: 22px;
}

.inner-stock a {
  font-size: 18px;
  line-height: 24px;
}

.stock-chocolate {
  width: 560px;
}

.stock-berries {
  background-image: url(../img/berries.jpg);
  background-repeat: no-repeat;
  border-radius: 13px;
  width: 560px;
  margin: 0;
}

.stock-chocolate {
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  border-radius: 13px;
}

.berris-link {

  margin: 23px 0 21px 375px;
  padding: 11px 21px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.chocolate-link {
  margin: 18px 0 21px 351px;
  padding: 11px 21px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.catalog-popular {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-popular-item {
  position: relative;
}

.catalog-item {
  position: relative;
  width: 267px;
  height: auto;
  margin-bottom: 34px;
  z-index: 1;
}

.catalog-hit {
  position: absolute;
}

.catalog-item-image {
  margin-bottom: 13px;
}

.catalog-item-price {
  position: absolute;
  top: 225px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  height: 31px;
}

.catalog-item-value {
  margin: 0;
  padding: 0;
  font-size: 44px;
  font-weight: bold;
}

.catalog-item-kg {
  margin: 0;
  padding-left: 6px;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 4px;
}

.catalog-category {
  display: block;
  position: relative;
  z-index: 3;
  top: -36px;
  margin: 0;
  padding: 0;
  width: 267px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.catalog-category a {
  color: #ffffff;
}

.catalog-category a:hover,
.catalog-category a:active {
  color: #FFBD9E;
}

.catalog-item-wrapper {
  position: absolute;
  z-index: 2;
  left: -13px;
  top: -6px;
  display: none;
}

.catalog-category-wrapper {
  position: absolute;
  z-index: 2;
  top: 228px;
  left: 10px;
  text-align: center;
}

.catalog-popular-item:hover .catalog-item-wrapper {
  display: block;
}

.catalog-item-hover {
  position: relative;
  background-color: #B6CABF;
  width: 294px;
  padding: 0;
  height: 405px;
  opacity: 0.3;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.catalog-item-btn {
  position: absolute;
  width: 194px;
  height: 45px;
  left: 45px;
  top: 339px;
  border: 1px #ED5B3D solid;
}

.feature {
  background-image: url(../img/waffle.jpg);
  color: #323232;
  margin: 1px 0;
  border-radius: 13px;
  min-height: 305px;
}

.feature-title {
  font-size: 24px;
  line-height: 30px;
  padding: 23px 20px;
  margin: 0;
}

.feature-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  padding: 0;
  justify-content: space-between;
}

.feature-flex .feature-flex-elements {
  width: 540px;
  position: relative;
  margin-bottom: 6px;
}

.ice-cream::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 204px;
  height: 204px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cow::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 204px;
  height: 204px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.eco::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 204px;
  height: 204px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.thermometer::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 204px;
  height: 204px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-flex-elements p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-left: 55px;
}

.inner-new {
  width: 560px;
  margin: 0;
  padding-left: 20px;
  color: #000;
  font-weight: bold;
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  background-position: -52px -224px;
  border-radius: 15px;
  box-sizing: border-box;
}

.inner-new p {
  font-size: 16px;
  line-height: 22px;
  color: #616161;
}

.inner-new a {

  color: #000000;
  font-size: 24px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.inner-new a:hover,
.inner-new a:active {
  color: #FFBD9E;
}


.inner-wrapper {
  display: flex;
  margin-top: 40px;
  margin-bottom: 37px;
  justify-content: space-between;
}

.inner-form {
  width: 560px;
  padding-bottom: 42px;
  background-image: url(../img/substate.png),
  url(../img/post-background.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #5D5D5C;
  border-radius: 15px;
}

.inner-form-paragraph {
  padding-right: 25px;
  margin: 30px 0 40px 28px;
  font-size: 16px;
  line-height: 22px;
}

.inner-form input {
  font: inherit;
  border: 1px solid #D4D4D3
}

.inner-form input:hover {
  border-color: #C9C7C6;
}

.inner-form input:focus {
  border-color: #77BEEE;
}

.subscribe {
  margin-left: 28px;
}

.email {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  width: 350px;
  height: 43px;
  border-radius: 5px;
  padding: 0 0 0 15px;
}

.subscribe-btn {
  width: 130px;
  height: 45px;
  margin-left: 8px;
  border: 1px solid #ED5B3D;
}

.contacts-map {
  background-image: url(../img/pin.svg),
  url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 266px 138px, 0 0;
  height: 430px;
  width: 1200px;
  border-top: 1px solid #849D8F;
  margin: 25px 0 25px -27px;
}

.address {
  color: #000000;
  background-color: #ffffff;
  width: 303px;
  height: 306px;
  border-radius: 15px;
  margin-left: 871px;
  margin-top: 62px;
}

.address-paragraph {
  margin: 35px 0 16px 25px;
  padding-top: 35px;
  font-size: 14px;
  line-height: 20px;
}

.address b {
  font-size: 18px;
  line-height: 24px;
}

.address-btn {
  width: 253px;
  height: 45px;
  margin-left: 25px;
  margin-top: 21px;
  font-size: 18px line-height: 24px;
  border: 1px solid #ED5B3D;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:active {
  color: #FFBD9E;
}

.info {
  position: relative;
}

.info-heart {
  position: absolute;
  left: 74px;
  top: 0;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 0 95px;
}

.footer-item-doc {
  width: 162px;
}

.info li {
  font-size: 13px;
  line-height: 18px;
}

.social-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 151px;
  height: 82px;
  margin-top: 17px;
  padding: 0;
}

.social-button {
  position: absolute;
  top: -5px;
  border: 1px solid #BECFC8;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.social-button:hover {
  border-color: #D7E3DE;
}

.social-button:hover path {
  fill: #FFFFFF;
}

.social-button:focus {
  border-color: #D7E3DE;
}

.social-button:focus path {
  fill: #E6EBE9;
}

.footer-item {
  font-weight: bold;
}

.footer-copyright {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 85px;
}

.footer-copyright-item {
  position: relative;
  top: -11px;
  font-size: 12px;
  line-height: 18px;
}

hr {
  margin: 0 0 35px 0;
}

.main-work-time {
  font-weight: bold;
}

.main-work-time a {
  text-decoration: none;
}



.modal-feedback {
  position: absolute;
  top: 340px;
  left: 400px;
  width: 478px;
  height: 442px;
  color: #000000;
  background-color: #F8F7F4;
  border-radius: 15px;
}

.modal-feedback h3 {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 23px 0 23px 25px;
}

.modal-feedback p {
  margin: 0;
}

.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
  border: 2px solid #D4D4D3;
  height: 44px;
  margin: 0 0 22px 25px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border-color: #C9C7C6;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  border-color: #77BEEE;
}

.feedback-icom-text {
  width: 428px;
  height: 155px;
}

.modal-button {
  border: 1px solid #ED5B3D;
  height: 45px;
  width: 140px;
  margin-left: 315px;
}

.modal-close {
  display: block;
  position: absolute;
  top: 15px;
  left: 445px;
  background-image: url(../img/cross-big.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  border: 1px solid #F8F7F4;
  background-color: #F8F7F4;
}

.navigation-site-activ {
  text-decoration: none;
  background-color: #D07058;
}

.basket-item {
  color: #ffffff;
  /* Разобраться со шрифтом, в статике должен быть черным */
  background-color: #F7F6F3;
  width: 104px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 220px;
  flex-wrap: wrap;
  list-style: none;
  color: #fff;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  color: #fff;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #FFBD9E;
}


.sorting label,
.price label,
.radio p,
.checkbox-wrapper p {
  font-size: 14px;
  line-height: 16px;
}

.select {
  border-radius: 20px;
  height: 36px;
  background-color: #A9B9AF;
  color: #fff;
}


.checkbox-wrapper li {
  list-style: none;
}

.pagination-list-wrapper {
  width: 1146px;
  display: flex;
  justify-content: flex-end;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 48px 20px 30px 0;
  padding: 0;
  height: 30px;
  width: 250px;
  margin-right: 0;
}

.pagination-list li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.pagination-list a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 10px;
}

.pagination-list-hover:hover {
  color: #fff;
  border-radius: 50%;
  background-color: #9DB1A5;
}

.pagination-list-hover a:active {
  color: #000;
  border-radius: 50%;
  background-color: #fff;
}

.pagination-list-activ a {
  color: #000;
  border-radius: 50%;
  background-color: #fff;
}

.pagination-item-arrow {
  transform: rotate(180deg);
}



/* ------разметка каталог-----*/

.breadcrumbs {
  display: flex;
  margin-bottom: -5px;
  margin-top: 10px;
  padding: 0;
}

.breadcrumbs li {
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  display: block;
  margin: 7px 0 27px 1px;
  padding: 0;
  color: #fff;
}

.filters-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  height: 61px;
  margin-bottom: 17px;
}

.sorting {
  display: block;
  width: 194px;
}

.filters-top-margin {
  margin: 0 0 0 17px;
}

.price-top-margin {
  margin: 17px;
}

.price {
  width: 222px;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
}

.radio {
  width: 420px;

  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.select {
  width: 194px;
  height: 37px;
  margin-top: 6px;
  font-size: 16px;
  padding: 0 0 0 12px;
}

.select:hover {
  background-color: #fff;
  color: #000;
}

.price input {
  border-radius: 20px;

  height: 37px;
  background-color: #A9B9AF;
  color: #fff;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 6px 0 0 0;
  padding: 0 22px;
  width: 183px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
}

input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: none;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #A7B9AF;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  justify-content: space-around;
  margin-top: 6px;
  min-height: 37px;
}

.label {
  display: block;
  padding: 10px;
}

.radio-form {
  display: none;
}

.radio-form:hover+.radiobutton:before {
  background-image: url(../img/radio-off.svg);
  cursor: pointer;
}

.radio-form:checked+.radiobutton:after {
  display: block;
}

.radiobutton {
  position: relative;
  padding-left: 25px;
}

.radiobutton:after {
  content: "";
  display: none;
  position: absolute;
  top: -2px;
  left: -1px;
  width: 22px;
  height: 22px;
  background-image: url(../img/radio-on2.svg);
  background-repeat: no-repeat;
}

.radio-form:hover+.radiobutton:after {
  background-image: url(../img/radio-on.svg);
  cursor: pointer;
}

.radiobutton:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 22px;
  height: 22px;
  background-image: url(../img/radio-off2.svg);
  background-repeat: no-repeat;
}









.label-checkbox {
  display: block;
  padding: 10px;
}

.input-checkbox {
  display: none;
}

.input-checkbox:hover+.checkbox:before {
  background-image: url(../img/checkbox-off.svg);
  cursor: pointer;
}

.input-checkbox:checked+.checkbox:after {
  display: block;
}

.checkbox {
  position: relative;
  padding-left: 25px;
}

.checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 0px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on2.svg);
  background-repeat: no-repeat;
}

.input-checkbox:hover+.checkbox:after {
  background-image: url(../img/checkbox-on.svg);
  cursor: pointer;
}

.checkbox:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off2.svg);
  background-repeat: no-repeat;
}

.filters-bottom {
  display: flex;
  justify-content: space-between;
  align-items: ;
  height: 60px;
  margin: 0 0 40px 0;
}

.filters-form {
  width: 860px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.filters-paragraph {
  margin: 0 0 0 15px;
}

.checkbox-list {
  display: flex;
  margin: 6px 0 0 0;
  padding: 0;
  background-color: #A7B9AF;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.checkbox-wrapper {
  width: 702px;
  margin: 0;
}

.filters-botton {
  align-self: flex-end;
  width: 145px;
  height: 38px;
  margin: 0;
  background-color: #A7B9AF;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 18px;
}

.filters-botton:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: none;
}

.filters-botton:active {
  background-color: #EAEAEA;
  color: #000;
  cursor: pointer;
  border: none;
  box-shadow: inset 0 1px 4px #000;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-button {
  border: 1px solid #ED5B3D;
}
